In [27]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
low_memory = False
import random

In [3]:
#connects to csvs
motive_data = pd.read_csv("19_Motive.csv")
victim_data = pd.read_csv("32_Victim.csv")
firearms_data = pd.read_csv("34_Firearm.csv")
air_data = pd.read_csv("data.csv",encoding = "ISO-8859-1")

C:\Users\Vlad\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [33]:
#working on air quality data
df_air_data = pd.DataFrame(air_data)
df_air_data["index"]=df_air_data.index
df_air_data = df_air_data.set_index('state')
clean_air_data = df_air_data.drop(["stn_code", "sampling_date","agency","type","location_monitoring_station"],1)

#filtering the data to dates we need
clean_air_data["date"]=pd.to_datetime(clean_air_data["date"])

dates = (clean_air_data["date"] > "12-31-2000") & (clean_air_data["date"] <= "12-31-2009")

clean_air_data = clean_air_data.loc[dates]
clean_air_data.fillna(0, inplace=True)
clean_air_data

                 location   so2   no2  rspm    spm  pm2_5       date   index
state
Andhra Pradesh  Hyderabad  14.4  78.3   0.0  291.0    0.0 2001-01-01     826
Andhra Pradesh  Hyderabad  15.6  73.6   0.0  340.0    0.0 2001-02-01     827
Andhra Pradesh  Hyderabad  14.8  39.8   0.0  189.0    0.0 2001-03-01     828
Andhra Pradesh  Hyderabad  13.4  37.1   0.0  220.0    0.0 2001-04-01     829
Andhra Pradesh  Hyderabad  14.1  30.3   0.0  183.0    0.0 2001-05-01     830
Andhra Pradesh  Hyderabad  14.7  22.6   0.0  233.0    0.0 2001-06-01     831
Andhra Pradesh  Hyderabad  20.4  35.0   0.0  205.0    0.0 2001-07-01     832
Andhra Pradesh  Hyderabad   2.6  27.5   0.0  194.0    0.0 2001-08-01     833
Andhra Pradesh  Hyderabad   5.5  44.6   0.0  149.0    0.0 2001-09-01     834
Andhra Pradesh  Hyderabad   3.7  65.8   0.0  192.0    0.0 2001-10-01     835
Andhra Pradesh  Hyderabad   3.9  73.0   0.0  210.0    0.0 2001-11-01     836
Andhra Pradesh  Hyderabad   4.4  59.8   0.0  272.0    0.0 2001-12-01     837
Andhra Pradesh  Hyderabad  21.5  10.0   0.0  151.0    0.0 2001-01-01     838
Andhra Pradesh  Hyderabad  11.4   8.8   0.0  244.0    0.0 2001-02-01     839
Andhra Pradesh  Hyderabad  12.6   9.5   0.0  148.0    0.0 2001-03-01     840
Andhra Pradesh  Hyderabad  11.7   9.3   0.0  126.0    0.0 2001-04-01     841
Andhra Pradesh  Hyderabad  11.9  14.1   0.0  222.0    0.0 2001-05-01     842
Andhra Pradesh  Hyderabad   8.4  14.7   0.0  134.0    0.0 2001-06-01     843
Andhra Pradesh  Hyderabad   7.6  21.3   0.0  122.0    0.0 2001-07-01     844
Andhra Pradesh  Hyderabad   7.6  15.9   0.0  112.0    0.0 2001-08-01     845
Andhra Pradesh  Hyderabad   7.3  26.1   0.0  134.0    0.0 2001-09-01     846
Andhra Pradesh  Hyderabad   6.4  13.6   0.0   83.0    0.0 2001-10-01     847
Andhra Pradesh  Hyderabad   6.8   7.9   0.0   93.0    0.0 2001-11-01     848
Andhra Pradesh  Hyderabad   9.3  19.4   0.0  173.0    0.0 2001-12-01     849
Andhra Pradesh  Hyderabad  16.3   7.4   0.0   83.0    0.0 2001-01-01     850
Andhra Pradesh  Hyderabad  11.8   7.2   0.0  116.0    0.0 2001-02-01     851
Andhra Pradesh  Hyderabad  11.7   8.2   0.0   53.0    0.0 2001-03-01     852
Andhra Pradesh  Hyderabad   7.9   8.3   0.0   61.0    0.0 2001-04-01     853
Andhra Pradesh  Hyderabad  10.0  12.0   0.0  119.0    0.0 2001-05-01     854
Andhra Pradesh  Hyderabad   7.8   6.7   0.0   84.0    0.0 2001-06-01     855
...                   ...   ...   ...   ...    ...    ...        ...     ...
West Bengal       Kolkata   6.8  60.3  55.0  142.0    0.0 2009-04-20  423244
West Bengal       Kolkata   7.1  68.7  82.0  191.0    0.0 2009-04-23  423245
West Bengal       Kolkata   5.6  62.1  36.0  104.0    0.0 2009-04-28  423246
West Bengal       Kolkata   6.8  58.0  60.0  146.0    0.0 2009-01-05  423247
West Bengal       Kolkata   6.6  65.0  51.0  146.0    0.0 2009-03-05  423248
West Bengal       Kolkata   6.3  66.5  43.0  107.0    0.0 2009-07-05  423249
West Bengal       Kolkata   5.7  61.4  40.0   93.0    0.0 2009-11-05  423250
West Bengal       Kolkata   6.1  55.3  38.0  103.0    0.0 2009-05-15  423251
West Bengal       Kolkata   7.2  65.8  40.0  105.0    0.0 2009-05-19  423252
West Bengal       Kolkata   6.8  58.5  30.0   86.0    0.0 2009-05-23  423253
West Bengal       Kolkata   6.1  52.7  38.0  103.0    0.0 2009-05-27  423254
West Bengal       Kolkata   6.3  56.9  43.0  104.0    0.0 2009-05-29  423255
West Bengal       Kolkata   5.1  55.7  81.0  181.0    0.0 2009-02-04  423256
West Bengal       Kolkata   6.6  52.9  37.0   87.0    0.0 2009-05-04  423257
West Bengal       Kolkata   5.6  56.5  72.0  144.0    0.0 2009-10-04  423258
West Bengal       Kolkata   5.4  61.6  54.0  118.0    0.0 2009-04-14  423259
West Bengal       Kolkata   6.1  57.5  36.0  107.0    0.0 2009-04-16  423260
West Bengal       Kolkata   6.0  56.3  71.0  159.0    0.0 2009-04-19  423261
West Bengal       Kolkata   5.1  47.0  45.0  124.0    0.0 2009-04-22  423262
West Bengal       Kolkata   4.9  50.1  83.0  158.0    0.0 2009-04-27  423263
West Bengal       Kolkata   5.0  42.9  45.0  126.0    0.0 2009-04-29  423264
West Bengal       Kolkata   5.0  42.6  36.0  110.0    0.0 2009-05-05  423265
West Bengal       Kolkata   5.4  58.2  48.0  110.0    0.0 2009-08-05  423266
West Bengal       Kolkata   5.1  49.0  38.0   95.0    0.0 2009-05-13  423267
West Bengal       Kolkata   5.2  52.6  54.0  131.0    0.0 2009-05-16  423268
West Bengal       Kolkata   4.8  49.5  44.0  116.0    0.0 2009-05-18  423269
West Bengal       Kolkata   4.2  42.2  28.0   76.0    0.0 2009-05-21  423270
West Bengal       Kolkata   4.3  41.4  21.0   61.0    0.0 2009-05-24  423271
West Bengal       Kolkata   4.3  46.2  26.0   70.0    0.0 2009-05-28  423272
West Bengal       Kolkata   4.3  46.3  28.0   82.0    0.0 2009-05-31  423273

[166986 rows x 8 columns]