In [27]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
low_memory = False
import random

In [39]:
#connects to csvs
motive_data = pd.read_csv("19_Motive.csv")
victim_data = pd.read_csv("32_Victim.csv")
firearms_data = pd.read_csv("34_Firearm.csv")
air_data = pd.read_csv("data.csv",encoding = "ISO-8859-1")

In [42]:
#working on air quality data
df_air_data = pd.DataFrame(air_data)
df_air_data = df_air_data.set_index('state')
clean_air_data = df_air_data.drop(["stn_code", "sampling_date","agency","type","location_monitoring_station"],1)

#filtering the data to dates we need
clean_air_data["date"]=pd.to_datetime(clean_air_data["date"])

dates = (clean_air_data["date"] > "12-31-2000") & (clean_air_data["date"] <= "12-31-2009")

clean_air_data = clean_air_data.loc[dates]
clean_air_data.fillna(0, inplace=True)
clean_air_data.head()

                 location   so2   no2  rspm    spm  pm2_5       date
state
Andhra Pradesh  Hyderabad  14.4  78.3   0.0  291.0    0.0 2001-01-01
Andhra Pradesh  Hyderabad  15.6  73.6   0.0  340.0    0.0 2001-02-01
Andhra Pradesh  Hyderabad  14.8  39.8   0.0  189.0    0.0 2001-03-01
Andhra Pradesh  Hyderabad  13.4  37.1   0.0  220.0    0.0 2001-04-01
Andhra Pradesh  Hyderabad  14.1  30.3   0.0  183.0    0.0 2001-05-01

In [36]:
#####write output to CSV
#####UNCOMMENT When needed
#clean_air_data.to_csv(r'result.csv')